body {
	background-color: black;
	color: white;
	text-align: center;
	font-size: small;
	border-left: thin;
	cursor: crosshair;
	font: helvetica;
	border-radius: 1.5px;
}
figure {
	background-color: black;
	outline-color: white;
	border-color: white;
	text-align: center;
	border-style: solid;
}
iframe {
	vertical-align: top;
	color: black;
	width: 500px;
	white-space: pre;
}
p {
	background-color: black;
	font-size: medium;
	border: 15px white;
}
table {
	text-decoration: line-through;
	color: black;
	border: 3px white;
	vertical-align: center;
}
h3 {
	color: white;
	border: 2px;
	border-color: white;
}
