body {
	background-color: green;
	color: purple;
	text-align: right;
	font-size: small;
	border-left: thin;
	cursor: crosshair;
	font: comic;
	border-radius: 1.5px;
}
figure {
	background-color: green;
	outline-color: purple;
	border-color: purple;
	text-align: right;
	border-style: solid;
}
iframe {
	vertical-align: top;
	color: purple;
	width: 500px;
}
p {
	background-color: green;
	font-size: medium;
	border: 15px purple;
}
table {
	text-decoration: line-through;
	color: purple;
	border: 3px purple;
	vertical-align: right;
}
h3 {
	color: purple;
	border: 2px;
	border-color: purple;
}
h1 {
	background-color: green;
    color: purple;
    text-shadow: 5px 5px 5px #FF0000;
}
tr {
	outline: solid;
}
th {
	outline: solid;
}
br {
	color: purple;
}
form {
	background-color: green;
	color: purple;
}
h2 {
	border-color: purple;
	text-shadow: 2px 2px 2px purple;
}
ul {
	text-align: right;
	vertical-align: right;
}